.formContainer {
  margin: 10px;
  max-width: 450px;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  margin-bottom: 10px;
}

.fieldContainer label {
  margin: 5px;
  flex-basis: 20%;
}

.inputContainer {
  border-bottom: 1px solid;
}

.inputContainer input {
  border: none;
  padding: 5px;
  outline: none;
  width: 100%;
}