.formContainer {
  max-width: 450px;
  padding: 1rem;
  display: grid;
  gap: 1rem 1rem;
  justify-items: stretch;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "title   title   title  title  title  closeButton"
    "weight  weight  weight ccal   ccal   ccal"
    "protein protein fat    fat    carbs  carbs"
    "date    date    date   date   date   date"
    "submit  submit  submit submit submit submit";
}

.title {
  grid-area: title;
  position: relative;
}

.closeButton {
  grid-area: closeButton;
}

.weight {
  grid-area: weight;
}

.ccal {
  grid-area: ccal;
}

.protein {
  grid-area: protein;
}

.fat {
  grid-area: fat;
}

.carbs {
  grid-area: carbs;
}

.date {
  grid-area: date;
}

.submit {
  grid-area: submit;
}

.searchList {
  position: absolute;
  top: 100%;
  background: white;
  border: 1px solid;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
}
