.menu {
  position: fixed;
  z-index: 10001;
  border: 1px solid var(--light-border);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color-raised);
  border-radius: 3px;
  padding: .5rem 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: opacity 50ms, visibility 150ms, transform 150ms;
  transform-origin: 0% 0%;
}

.menu-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.backdrop-visible {
  display: block;
}
