.recordLine {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #dfdfdf;
}

.not-filled-in {
  background-color: #ff8888!important;
}

.title {
  font-weight: 500;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--text-color-disabled);
}

.right {
  max-width: 40%;
}
