.recordLine {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
}

.not-filled-in {
  background-color: var(--error-color);
}

.subtitle {
  font-size: 0.75rem;
  color: var(--text-color-secondary);
}

.right {
  max-width: 40%;
}
