.container {
}

.dayLog {
  margin: 10px;
}

.weekLog {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.row > span:nth-child(1) {
  flex-basis: 30%;
}

.row > span {
  flex-basis: 14%;
}

.list {
  margin: 0;
  padding: 0;
}
