.grid {
  display: grid;
  grid-gap: .3rem;
}

.grid > .title {
  grid-area: title;
}

.grid > .unfold {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 40em) {
  .grid {
    grid-template-columns: 1rem 1fr 3rem;
    grid-template-rows: 1.5rem auto;
    grid-template-areas:
      "title title unfold"
      ". stats .";
    cursor: pointer;
  }
  .grid > .unfold {
    grid-area: unfold;
  }
  .grid > .statItem {
    display: none;
  }
  .grid.unfolded > .statItem {
    grid-column-start: stats;
    display: block;
  }
}

/* Desktop */
@media screen and (min-width: 40em) {
  .grid {
    grid-template-columns: 3fr 2fr 2fr 3fr;
    grid-template-rows: 1.5rem;
    grid-template-areas:
      "title stats . .";
  }
  .grid > .unfold {
    display: none;
  }
  .grid > .statItem {
    display: block;
    grid-column-start: auto;
  }
}