.loginForm {
  max-width: 25rem;
  margin: auto;
}

.loginContainer {
}

.loginContainer > * {
  margin: 1.5rem 0;
}

.spinnerContainer {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.errorContainer {
  border: 1px solid var(--error-message-color);
  border-radius: var(--border-radius);
  padding: 0.75rem;
  color: var(--error-message-color);
}
